@model SaurianSource.Models.User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>Saurian Source</title>
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class = "header-index">
        <h1>Saurian Source</h1>
        <h2>A forum for dinosuar lovers!</h2>
    </div>

    <div class = "page-wrapper">
        <div class = "login-area">
            <h1>Login</h1>
            <form action="/login" method="post">

                <div class = "login-element" >
                    <span asp-validation-for="Email"></span>
                    <label asp-for="Email"></label>
                    <input asp-for="Email">
                </div>

                <div class = "login-element" >
                    <span asp-validation-for="Password"></span>
                    <label asp-for="Password"></label>
                    <input asp-for="Password">
                </div>

                <div class = "login-element" >
                    <button>Submit</button>    
                </div>
            </form>
        </div>
        <div >
            <span class = "register-text">Don't have an account?</span>
            <a href = "/register">
                <button class = "register-button">Register</button>
            </a>
        </div>
    </div>
</body>
</html>